@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: #49a09d;
    --color-2: #5f2c82;
    --font-default: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font-default);
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(0, var(--color-1), var(--color-2));
    height: 100vh;
    width: 100vw;
}

#container-login {
    height: 100vh;
    margin: 0 auto;
    position: relative;
    width: 90vw;

    .login {
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
        height: 450px;
        left: 50%;
        margin: 0 auto;
        width: 90vw;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: height 0.3s, width 0.3s;
        transition-timing-function: ease;

        .login-image {
            background: url('../../img/background.jpg');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: cover;
            /* display: block; */
            height: 200px;
        }

        .login-form {
            /* display: block; */
        }
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .login {
        width: 90vw;

        .login-image {
            float: left;
            height: 100% !important;
            width: 30%;
        }

        .login-form {
            float: right;
            width: 70%;
        }
    }
}

@media (min-width: 992px) {
    .login {
        width: 950px;

        .login-image {
            float: left;
            /* height: 100%; */
            width: 50%;
        }

        .login-form {
            float: right;
            width: 50%;
        }
    }
}
