@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: #49a09d;
    --color-2: #5f2c82;
    --font-default: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font-default);
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(0, var(--color-1), var(--color-2));
    height: 100vh;
    width: 100vw;
}

#container-login {
    height: 100vh;
    margin: 0 auto;
    position: relative;
    width: 90vw;

    .login {
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        height: 95vh;
        left: 50%;
        margin: 0 auto;
        width: 90vw;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: height 0.3s, width 0.3s;
        transition-timing-function: ease;

        .login-image {
            background: url('../../img/background.jpg');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: cover;
            /* display: block; */
            height: 120px;
        }

        .login-form {
            padding: 20px;

            h1 {
                color: var(--color-2);
                border-bottom: 4px solid var(--color-1);
                line-height: 2.2rem;
                margin-bottom: 10px;
                width: 34px;
            }

            p {
                font-size: 0.9rem;
                margin-bottom: 10px;
            }

            .login-field {
                display: block;
                float: left;
                font-size: 0.9rem;
                width: 100%;

                &:focus {
                    color: var(--color-2);
                    outline: 1px solid var(--color-2);
                }

                i {
                    margin-left: -3px;
                    width: 25px;
                }

                label {
                    color: var(--color-2);
                    display: block;
                    float: left;
                }

                input {
                    background-color: #49a09d30;
                    border: none;
                    border-radius: 5px;
                    color: var(--color-2) !important;
                    display: block;
                    float: left;
                    font-size: 0.9rem;
                    margin-bottom: 10px;
                    outline: none;
                    padding: 5px;
                    width: 100%;


                }

                &:nth-child(2) {
                    margin-bottom: 10px;
                }
            }

            .login-action {
                background-color: var(--color-1);
                border: none;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                color: rgb(231, 231, 231);
                cursor: pointer;
                display: block;
                float: left;
                font-size: 1rem;
                font-weight: 600;
                height: 40px;
                margin: 0 auto;
                margin-bottom: 10px;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
                width: 100%;

                &:hover {
                    background-color: #49a09dd0;
                    color: white;
                }
            }

            .forgot {
                background-color: var(--color-2);
                color: rgb(231, 231, 231);
                float: right;
                padding: 6px;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 725px) and (max-width: 992px) {
    .login {
        width: 90vw;

        .login-image {
            float: left;
            height: 100% !important;
            width: 30%;
        }

        .login-form {
            float: right;
            width: 70%;

            .login-action {
                width: 45% !important;
            }
        }
    }
}

@media (min-width: 992px) {
    .login {
        width: 950px !important;

        .login-image {
            float: right;
            height: 100% !important;
            width: 50%;
        }

        .login-form {
            float: left;
            width: 50%;

            .login-action {
                width: 45% !important;
            }
        }
    }
}
